<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div style="padding-top:10px;float:right;" class="row">
        <Strong><span id="user"></span></Strong>
        <button onClick="logout()" class="btn btn-danger">Logout</button>
    </div>
    <div style="padding-top:10px" class="container">
        <div th:if="${not #lists.isEmpty(tasks)}">
            <h2>Calender Schedule</h2>
            <table class="table table-borderless">
                <tr>
                    <th>Time</th>
                    <th>Summary</th>
                </tr>
                <tr th:each="event : ${tasks}">
                    <td class="col-md-3" th:text="${event.timePeriod}"></td>
                    <td class="col-md-9" th:text="${event.summary}"></td>
                </tr>
            </table>

        </div>
    </div>

    <div style="padding-top:10px" class="container">
        <div th:if="${not #lists.isEmpty(available)}">
            <h2>Available Time Slot</h2>
            <table class="table table-borderless">
                <tr>
                    <th>Time</th>
                    <th>Summary</th>
                </tr>
                <tr th:each="event : ${available}">
                    <td class="col-md-3" th:text="${event.timePeriod}"></td>
                    <td class="col-md-9" th:text="${event.summary}"></td>
                </tr>
            </table>

        </div>
    </div>
</div>
<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
<script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT'
                || settings.type == 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN", Cookies
                        .get('XSRF-TOKEN'));
                }
            }
        }
    });
    $.get("/user", function (data) {
        $("#user").html(data.name);
    });
    var logout = function () {
        $.post("/logout", function () {
            $("#user").html('');
            window.location.href = "/";
        })
        return true;
    }


</script>
</body>
</html>