<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
        html,body {height: 100%}


    </style>
</head>
<body>
<div class="container" style="padding-top:20px;">
    <div class="d-flex justify-content-centerh-100 row align-items-center">

        <div class="col-md-3">
            <a
                    class="btn btn-lg btn-google btn-block text-uppercase btn-outline text-center"
                    href="/oauth2/authorization/google"><img
                    src="https://img.icons8.com/color/16/000000/google-logo.png"> SignIn Using Google</a></div>
    </div>
</div>
</body>
</html>